:root {
    --cell: #f9f9f9;
    --cell-border: #ccc;
    --text-color: #333333;
}

body {
    font-family: sans-serif;
    width: 500px;
    margin: auto;
}

.expositor {
    --left-space: 40px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    margin-bottom: 1rem;

    & .header {
        padding-left: var(--left-space);
        display: flex;
        padding-bottom: 5px;
        & .header_column {
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }

    & .league_section {
        display: flex;
        align-items: center;

        & .league_emoji {
            width: var(--left-space);
        }

        & .league_trophies {
            display: flex;
            gap: 0.5rem;
            & .trophy {
                width: 50px;
                height: 50px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
                border: 1px solid var(--cell-border);
                background-color: var(--cell);
                transition: background-color 0.3s ease;
                color: var(--text-color);
                opacity: 0.2;
            }
            & .trophy.active {
                opacity: 1;
            }
        }
    }
}
